.item {
    align-items: center;
    /* color: #FFF; */
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    padding: 0 10px;
    /* width: 40px; */
  }


  .item a{
    width: 20px;
    text-align: center;
  }
  
  .disabled-page {
    color: #808e9b;
  }
  
  .active {
    border: solid 1px #808e9b;
    border-radius: 40px;
    /* color: #808e9b; */
  }
  
  .break-me {
  }
  
  .next {
    /* border-left: solid 1px #808e9b; */
    font-size: 4px;
    height: 60px;
    /* position: absolute; */
    /* right: 0; */
    /* width: 150px; */
  }
  
  .pagination {
    align-items: center;
    /* background-color: #0fbcf9; */
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    /* width: 1000px; */
  }
  
  .pagination-page {
    font-weight: 700;
  }
  
  .previous {
    /* border-right: solid 1px #808e9b; */
    font-size: 4px;
    height: 60px;
    /* left: 0; */
    /* position: absolute; */
    /* width: 150px; */
  }